header {
  background: #C4E3FB;
  color: #131112;
  width: 100%;
  top: 0px;
  left: 0px;
}






code {
    background-color: #fff;
    color: #00aa86;
    font-style: normal;
    padding: 2px 5px;
}
p {
  padding-top: 40px
  line-height: 150%
}
